/* Modification du style form-table standard de WordPress */
.form-table tbody th[scope=row] {
    font-weight: bold;
}

/* Réduit la largeur des th (label) dans le formulaire (200px par défaut) */
.form-table th {
    width: 120px;
    min-width: 120px;
}

/* Supprime le padding généré par WP */
.form-table th, .form-table td {
    padding: 30px 0 0 0;
}

/* Supprime le padding top de la première ligne de champ d'une metabox */ 
.form-table tr:first-child>th, .form-table tr:first-child>td {
    padding-top: 0px;
}

/* form-table imbriqués (topics) */
.form-table .form-table th, .form-table .form-table td {
    padding: 15px 0 0 0;
}

/* Par défaut, tous les contrôles font 100% de large */
.field-table td input[type=text], 
.field-table td input[type=number], 
.field-table td select, 
.field-table td textarea {
    width: 100%;
    box-sizing: border-box;
}



/* Nouveau style field-table */
.field-table {
    table-layout: fixed;
    width: 99%; /* comme pour input.large-text */
    border-collapse: collapse;
/*    background: yellow; */
}

.field-table tr {
    vertical-align: top;
}

/* Corps de la table */
.field-table tbody td {
    padding: 0;
    line-height: normal;
    vertical-align: top;
}
.field-table td+td {
    padding-left: 10px; /* espace horizontal entre deux cellules */
}

/* Entête de la table */
.field-table thead th {
    padding: 0 0 0 5px; /* left:2px pour compenser le border-left des inputs */
    width: auto;
    line-height: normal;
}

.field-table thead th, .form-table .form-table th,
.field-table td p, .form-table .form-table td p {
    font-size: smaller;
}


.field-table th+th {
    padding-left: 15px;
    /* 10px = espace standard entre cellules + 2 px pour border-left input */
}

/* footer de la table */
.field-table tfoot td {
    padding: 0 0 0 5px; /* left:2px pour compenser le border-left des inputs */
/*    width: auto; */
    line-height: normal;
}

.field-table tfoot td+td {
    padding-left: 15px;
    /* 10px = espace standard entre cellules + 2 px pour border-left input */
}

.field-table .description {
/*    font-size: smaller; */
    margin: 0;
}
button.cloner span::before {
    vertical-align: text-top;
}

/*
 * Donne un style temporaire aux contrôles "selectize" jusqu'à ce qu'ils soient initialisés.
 * L'objectif c'est que les select et les input .selectize aient à peu près la même taille 
 * avant et après l'initialisation pour éviter autant que possible un FOUC.
 */
select.entrypicker, input.entrypicker {
    /* Entrypicker génère des select avec size=1 et les inputs ont une seule ligne donc on donne juste une largeur */
    width: 100%;
    /* Ignore ce qui dépsse pour ne pas afficher d'ascenseur vertical */
    overflow: hidden; 
}

/*
    Ajuste les styles de Selectize pour que ça s'intègre dans le BO WordPress.
*/
.selectize-control{
    line-height: 0;
}
.selectize-input {
  padding: 3px;
  margin: 0;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-size: 14px;
}

.selectize-input.focus, .selectize-dropdown {
    border-color: #aaa;
}

/*
    wordpress a une règle générique ".highlight" qui met la zone.
    (dans wp-admin.css et dans colors-fresh.css)
    on essaie de corriger içi
*/
.selectize-dropdown [data-selectable] .highlight {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    border: 0;
}

/*
    Styles pour les lookups de types thesaurus.
*/
.selectize-dropdown-content {
    max-height: 400px;
}

.selectize-dropdown .des,
.selectize-dropdown .nondes {
    font-size: 13px;
}

.selectize-dropdown .des .term, /* le nom du descripteur */
.selectize-dropdown .US b {         /* le nom d'un EM */
    font-weight: bold;
}

.selectize-dropdown .nondes .term, /* le nom d'un non-des */
.selectize-dropdown .UF b {            /* le nom d'un EP */
    font-style: italic;
    font-weight: normal;
    color: #888;
}

.selectize-dropdown .des div,       /* un bloc de relations */
.selectize-dropdown .nondes div {
    padding-left: 2.5em;
}

.selectize-dropdown .des i,    /* le libellé d'un bloc de relations */
.selectize-dropdown .nondes i {
    font-style: normal;
    margin-left: -2em;
    float: left;
    text-transform: uppercase;
    color: #aaa;
}

.selectize-dropdown .BT b { /* TG */
    color: #008;
}

.selectize-dropdown .NT b { /* TS */
    color: #800;
}

.selectize-dropdown .RT b { /* TA */
    color: #080;
}
/*
.selectize-dropdown .description b,
.selectize-dropdown .SN b 
{
    font-weight: normal;
    font-size: 12px;
}
*/

.selectize-dropdown .description,
.selectize-dropdown .SN
{
    background: #ddd;
    color: #999;
    border-radius: 6px;
    padding: 0 0.5em;
    margin-left: 0.5em;
}

.selectize-dropdown b[rel]:hover {
    text-decoration: underline;
}


/* -----------------------------------------------------------------------------------------------------------------
 * RadioList / CheckList
 * ----------------------------------------------------------------------------------------------------------------- */
 
/* Styles de base */
.radiolist,
.checklist 
{
}

/* Listes répétable, insère un liseré entre les occurences */
.checklist + .checklist, 
.radiolist + .radiolist
{
    border-top: 1px dotted #ddd;
    padding-top: 5px;
}

/* Listes inline */
.radiolist.inline,
.checklist.inline
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
.radiolist.inline li,
.checklist.inline li
{
    flex: 1 0 200px;
    max-width: 200px;
}

/* Groupes d'options */
.radiolist-group ul,
.checklist-group ul
{
    margin-left: 1.8em;
}
.radiolist.inline .radiolist-group ul,
.radiolist.inline .checklist-group ul
{
    margin-left: 0;
}

/* Libellé des groupes d'option */
.radiolist-group-label,
.checklist-group-label
{
}

/* Options invalides */
.radiolist-invalid-entry,
.checklist-invalid-entry
{
    font-weight: bold;
    color: red;
}

/* -----------------------------------------------------------------------------------------------------------------
 * Select
 * ----------------------------------------------------------------------------------------------------------------- */

/* Styles de base */
.select
{
}

.select li
{
}

/* Groupe d'options */
.select optgroup
{
}
.select optgroup li
{
}

/* Options invalides */
.select-invalid-entry
{
    font-weight: bold;
    color: red;
}


/* -----------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------------------------------------------------------------------------------- */
.typed-large-text textarea {
    width: 100%;
}

.typed-large-text>div + div {
    margin-top: 0.5em;
}

/*
    Autosize pour CodeMirror. 
    
    Le contrôle CodeEditor demande le thème "autosize" à CodeMirror, ce qui génére la classe .cm-s-autosize.
    Dans cette classe, on définit height à auto pour activer le module Autoresize de CodeMirror : 
    https://codemirror.net/demo/resize.html 
*/
.cm-s-autosize {
    height: auto;
}